
<section id="opener" >
<div class="container-fluid" style=" height:600px; width:100%;background:#394A4A url(static/common/opener.jpg) no-repeat fixed center;">
<article class="article_opener" style="padding:5px;text-align:center;">
<h1 style="font-size:60px;  font-family: Gorgian, Courier, monospace;
;color: #ffffff; margin:100px 2px 50px 2px;font-weight:900;">Welcome to WeDevelopers!</h1>
<p style="color: #ffffff;font-size:30px;">Wanna write your own blog? Change your tought into action!</p>
<a href="#" target="_blank" class="btn mx-2 my-2 mx-xs-2 mx-sm-2 my-sm-1 my-xs-3 " style="border:0;border-radius:5%;color:#ffffff; background-color:#D4AF37; font-weight:800;">Create Post!</a>
</div>
</section>